*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: hsla(0, 0%, 0%, 1);
  ;
  color: hsla(240, 1%, 83%, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  overflow: auto;
}

body.loaded {
  overflow-y: auto;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-inline-start: 1px solid hsla(0, 0%, 13%, 1);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 1);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.btn\:hover {
  position: relative;
  z-index: 1;
}

.btn\:hover::before,
.btn\:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.25;
  -webkit-transition: 0.25;
  -moz-transition: 0.25;
  -ms-transition: 0.25;
  -o-transition: 0.25;
}

.btn\:hover::after {
  border: 1px solid hsla(0, 0%, 100%, 1);
  transform: scale(1.2);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::before {
  transform: scale(0.5);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::after {
  transform: scale(1);
  opacity: 1;
}

.text-center {
  text-align: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.img-holder {
  aspect-ratio: 1/1;
  overflow: hidden;
  background-color: hsla(0, 0%, 18%, 1);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-tilt] {
  transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  -webkit-transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  -moz-transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  -ms-transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  -o-transition: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
}

.title {
  color: hsla(0, 0%, 100%, 1);
  font-family: 'Recoleta';
  font-weight: 400
}

.h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

.h2,
.h3,
.h4,
.h5 {
  line-height: 1.3;
}

.h2 {
  font-size: 4rem;
}

.h3 {
  font-size: 3rem;
}

.h4 {
  font-size: 2.4rem;
}

.h5 {
  font-size: 2rem;
}

.h6 {
  font-size: 1.8rem;
}

.btn {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
}

.btn::before {
  background-color: hsla(0, 0%, 6%, 1);
}

.section {
  padding-block: 70px;
  overflow-x: hidden;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 1);
  ;
  padding-block: 20px;
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: hsla(0, 0%, 18%, 1);
  padding-block: 10px;
  animation: slideIn 500ms ease-out forwards;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  gap: 6px;
}

.nav-open-btn .line {
  width: 24px;
  height: 2px;
  background-color: hsla(0, 0%, 0%, 1);
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

.nav-open-btn:is(:hover, :focus-visible) .line {
  background-color: hsla(0, 0%, 100%, 1);
}

.nav-open-btn:is(:hover, :focus-visible) .line-1 {
  transform: scaleX(0.7);
}

.nav-open-btn::before {
  background-color: hsla(0, 0%, 100%, 1);
}

.nav-open-btn::after {
  background-color: hsla(0, 0%, 0%, 1);
  ;
}

.navbar {
  position: fixed;
  background-color: hsla(0, 0%, 0%, 1);
  top: 0;
  left: -300px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  padding: 25px 20px;
  visibility: hidden;
  transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
  z-index: 3;
  -webkit-transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
  -moz-transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
  -ms-transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
  -o-transition: 250ms cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
  transform: translateX(300px);
  visibility: visible;
  transition: 500ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
  -webkit-transition: 500ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
  -moz-transition: 500ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
  -ms-transition: 500ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
  -o-transition: 500ms cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 20px;
  border-block-end: 1px solid hsla(0, 0%, 6%, 1);
  margin-block-end: 10px;
}

.nav-close-btn {
  width: 30px;
  height: 30px;
  background-color: hsla(0, 0%, 6%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-size: 2rem;
  display: grid;
  place-items: center;
}

.navbar-link {
  padding: 8px;
  margin-block-start: 4px;
}

.navbar-link:is(:hover, :focus-visible) {
  color: hsla(0, 0%, 100%, 1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 1);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  padding-block-start: 120px;
}

.hero .container {
  display: grid;
  gap: 50px;
}

.banner-outline {
  position: relative;
  max-width: max-content;
  margin-inline: auto;
}

.banner-outline::after {
  top: 1rem;
  right: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid hsla(0, 0%, 13%, 1);
  border-radius: 500px;
}

.hero-banner {
  position: relative;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
}

.hero-banner::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to top, hsla(0, 0%, 0%, 1) 0%, transparent 40%);
  opacity: 0.7;
  pointer-events: none;
}

.banner-outline .span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  min-width: max-content;
  z-index: 1;
}

.hero .btn {
  margin-block: 20px;
  margin-inline: auto;
}

.hero .shape {
  position: absolute;
  max-width: 100%;
  z-index: -1;
}

.hero .shape-1 {
  top: -60px;
  left: 120px;
}

.hero .shape-2 {
  top: 180px;
  left: 0;
}

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/
.project-card .card-banner::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(229, 23%, 9%, 1);
  background-image: radial-gradient(circle at 75% 100%, hsla(79, 100%, 70%, 0.3) 0%, transparent 100%);
  opacity: 0;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
}

.project-card .card-banner:is(:hover, :focus-within)::before {
  opacity: 0.9;
}

.project-card .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  min-width: max-content;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.project-card .card-banner:is(:hover, :focus-within) .btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.project-card .card-content {
  padding: 24px 30px 0;
}

.project-card .card-subtitle {
  font-size: var(--fontSize-10);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-block-end: 10px;
}

.project-card .card-title {
  display: inline;
  background-image: linear-gradient(hsla(0, 0%, 100%, 1) hsla(0, 0%, 100%, 1));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-in-out 0.25s;
  -moz-transition: ease-in-out 0.25s;
  -ms-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
}

.project-card .card-title:is(:hover, :focus-visible) {
  background-size: 100% 1px;
}

.slider-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  overflow: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 5px;
}

.slider-list::-webkit-scrollbar {
  display: none;
}

.slider-item {
  min-width: 100%;
  scroll-snap-align: start;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.communication {
  display: flex;
  gap: 5rem;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15rem;
}

.contact .section-title {
  font-size: 4.6rem;
  margin-block-end: 25px;
}

.contact-content {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  justify-content: center;
  align-items: center;
}

.contact-form .input-field {
  height: 50px;
  padding-block: 12px;
  margin-block-end: 20px;
  color: hsla(0, 0%, 100%, 1);
  outline: none;
  border-block-end: 1px solid hsla(0, 0%, 13%, 1);
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
}

.contact-form .input-field::placeholder {
  color: hsla(240, 1%, 83%, 1);
}

.contact-form .input-field:focus {
  border-color: hsla(240, 1%, 83%, 1);
}

textarea.input-field {
  min-height: 165px;
  resize: none;
}

.contact-form .btn {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
  gap: 0;
}

.contact .map {
  width: 100%;
  filter: grayscale(1);
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.contact-item:not(:last-child) {
  padding-block-end: 30px;
  border-block-end: 1px solid hsla(0, 0%, 13%, 1);
  margin-block-end: 30px;
}

.contact-item .title {
  color: hsla(240, 1%, 83%, 1);

}

.email-icon {
  width: 30px;
  height: 30px;
  fill: hsla(240, 1%, 83%, 1);
}

h2 {
  display: flex;
  justify-content: center;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  border-block-start: 1px solid hsla(0, 0%, 13%, 1);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.copyright {
  flex-grow: 1;
  font-size: 1.7rem;
}

.back-top-btn .span {
  display: none;
}

.back-top-btn {
  color: hsla(0, 0%, 100%, 1);
  padding: 32px 16px;
  border-inline: 1px solid hsla(0, 0%, 13%, 1);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
   * REUSED STYLE
   */

    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }

    /**
   * HERO
   */

    .hero .banner-outline {
      max-width: 410px;
    }

    .hero .banner-outline::after {
      right: -15px;
    }

    /**
 * responsive for large than 768px screen
 */

    @media (min-width: 768px) {

      /** 
   * CUSTOM PROPERTY
   */

      :root {

        /**
     * TYPOGRAPHY
     */

        /* font size */
        --fontSize-1: 6.6rem;

        /**
     * SPACING
     */

        --section-spacing: 100px;

      }

      /**
   * REUSED STYLE
   */

      .container {
        max-width: 720px;
      }

      /**
   * HERO
   */

      .hero {
        text-align: left;
      }

      .hero .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
      }

      .banner-outline {
        order: 1;
      }

      .hero .btn {
        margin-inline: 0;
      }

      /**
   * PROJECTS
   */

      .slider-item {
        min-width: calc(50% - 15px);
      }

      /**
 * responsive for large than 992px screen
 */

      @media (min-width: 992px) {

        /** 
   * CUSTOM PROPERTY
   */

        :root {

          /**
     * TYPOGRAPHY
     */

          /* font size */
          --fontSize-2: 7rem;

        }

        /**
   * REUSED STYLE
   */

        .container {
          max-width: 960px;
        }

        /**
   * HEADER
   */

        .header .container {
          margin-inline: 0;
          min-width: 100%;
        }

        .nav-open-btn,
        .navbar-top {
          display: none;
        }

        .navbar {
          all: unset;
          display: block;
        }

        .navbar-list {
          display: flex;
          gap: 16px;
        }

        .header .btn {
          display: flex;
        }

        /**
   * HERO
   */

        .hero .container {
          grid-template-columns: 1fr 0.7fr;
        }

        .hero .banner-outline {
          max-width: 366px;
        }

        .hero .wrapper {
          display: flex;
          align-items: center;
          gap: 30px;
        }

        .hero .btn {
          flex-shrink: 0;
        }

        /**
   * SERVICE
   */

        .service {
          border-block-end: 1px solid hsla(0, 0%, 13%, 1);
        }

        .service-list {
          gap: 158px;
          flex-wrap: nowrap;
        }

        .service .service-item {
          border-inline: 1px solid hsla(0, 0%, 13%, 1);
          border-block-end: none;
        }

        /**
   * ABOUT
   */

        .tab-content .grid-list {
          grid-template-columns: 1fr 1fr;
        }

        :is([data-tab-content="interview"], [data-tab-content="exhibition"], [data-tab-content="awward"]) .grid-list {
          grid-template-columns: repeat(3, 1fr);
        }

        /**
   * PROJECTS
   */

        .slider-item {
          min-width: calc(33.33% - 20px);
        }

        /**
   * CONTACT
   */

        .contact-content {
          grid-template-columns: 0.8fr 1fr 0.6fr;
          gap: 30px;
          align-items: center;
        }

        /**
   * BACK TO TOP
   */

        .back-top-btn .span {
          display: block;
        }

        .back-top-btn {
          display: flex;
          align-items: center;
          gap: 10px;
        }

      }

      /**
 * responsive for large than 1200px screen
 */

      @media (min-width: 1200px) {

        /**
   * CUSTOM PROPERTY
   */

        :root {

          /**
     * TYPOGRAPHY
     */

          /* font size */
          --fontSize-2: 9rem;
          --fontSize-4: 4rem;
          --fontSize-5: 4rem;
          --fontSize-6: 2rem;

        }

        /**
   * REUSED STYLE
   */

        .container,
        .service .container {
          max-width: 1200px;
        }

        .h1 {
          line-height: 1.1;
        }

        /**
   * HEADER
   */

        .header {
          padding-block: 40px;
        }

        .header .container {
          padding-inline: 60px;
        }

        .navbar-list {
          gap: 50px;
        }



        /**
   * HERO
   */

        .hero {
          padding-block-start: 160px;
        }

        .hero .banner-outline {
          max-width: 410px;
        }

        .hero-text {
          max-width: 30ch;
        }

        /**
 * responsive for large than 1400px screen
 */

        @media (min-width: 1400px) {

          /** 
   * REUSED STYLE
   */

          .container,
          .service .container {
            max-width: 1320px;
          }

          /**
   * HEADER
   */

          .header {
            padding-inline: 90px;
          }

          /**
   * HERO
   */

          .hero .container {
            grid-template-columns: 1fr 0.85fr;
          }

        }
      }
    }
  }
}