body {
  background-attachment: fixed;
  background-color: #1B1F23;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

h2 {
  color: #ffd900;
  font-size: 2.5em;
  padding-left: 3em;
  text-align: center;
}

.logo {
  border-radius: 50%;
  height: 150px;
  margin: 0;
  width: 150px;
}

.navbar-list {
  display: flex;
  margin-bottom: 0;
}

.navbar-list li {
  list-style: none;
  margin-right: 3em;
  text-transform: uppercase;
}

.navbar-list li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-list li a:hover {
  color: #ffd900;
  font-size: 1.3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* About me */
.about-section {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.about-content {
  flex: 1;
  max-width: 60em;
}

.about-content h2 {
  font-size: 2rem;
}

.about-content p {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  line-height: 0.7;
  padding: 2em;
}

/* Projects */
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  padding: 6em 2em;
}

.profile--img {
  -moz-border-radius: 10%;
  -moz-transition: transform 0.3s;
  -ms-border-radius: 10%;
  -ms-transition: transform 0.3s;
  -o-border-radius: 10%;
  -o-transition: transform 0.3s;
  -webkit-border-radius: 10%;
  -webkit-transition: transform 0.3s;
  border-radius: 10%;
  height: 15em;
  margin: 0;
  transition: transform 0.3s;
  width: 15em;
}

.profile--img:hover {
  -moz-border-radius: 50%;
  -moz-transform: scale(1.2);
  -ms-border-radius: 50%;
  -ms-transform: scale(1.2);
  -o-border-radius: 50%;
  -o-transform: scale(1.2);
  -webkit-border-radius: 50%;
  -webkit-transform: scale(1.2);
  border-radius: 50%;
  transform: scale(1.2);
}

/* Skills */
.skills {
  align-items: flex-start;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.skill {
  align-items: center;
  color: #fff;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.skills--img {
  height: 5em;
  padding: 3em;
  width: 5em;
}

/* Contact */
.form-group {
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.form-control {
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 40vw;
}

.contact-form {
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
  padding: 7em;
}

.contact-btn {
  background-color: #999999;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  transition: all 0.3s;
}